*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
    color: #000;
} 

header {
    background-color: #8dd0db;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    position: relative;
}

button {
    background-color: #8dd0db;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2f92a1;
}